<div class="container">
    
    <div class="panel-left">
      <div class="logo-box">
        <img src="assets/logo_hipatec_roxo.png" alt="Hipatec" class="logo-img" />
      </div>
      <h2 class="comunidade-text">Junte-se à <span>&lt;Comunidade&gt;</span></h2>
      <p class="subtitle-text">
        Crie sua conta para se conectar, aprender e crescer com outras mulheres na tecnologia.
      </p>
    </div>

    <main>
      <h1 class="register-title">Crie sua conta</h1>

      <div class="input-group">
        <label>nome completo</label>
        <input type="text" [(ngModel)]="nome" placeholder="digite seu nome completo" />
      </div>

      <div class="input-group">
        <label>data de nascimento</label>
        <input type="text" [(ngModel)]="dataNascimento" placeholder="dd / mm / aaaa" onfocus="(this.type='date')" onblur="(this.type='text')" />
      </div>

      <div class="input-group">
        <label>email</label>
        <input type="email" [(ngModel)]="email" placeholder="seuemail@exemplo.com" />
      </div>

      <div class="input-group">
        <label>senha</label>
        <input type="password" [(ngModel)]="senha" placeholder="digite sua senha" />
      </div>

      <button class="btn-register" (click)="cadastrar()">cadastrar</button>

      <div class="register-footer-links">
        <a class="footer-link" routerLink="/login">já possui uma conta?</a>
      </div>
    </main>

</div>